@model             Order

@{
    ViewData["Title"] = "Create Order";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            color: #1a1f36;
            box-sizing: border-box;
            word-wrap: break-word;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
        }
        body {
            min-height: 100%;
            background-color: #ffffff;
        }
        .login-root {
            background: #fff;
            display: flex;
            width: 100%;
            min-height: 100vh;
            overflow: hidden;
        }
        .loginbackground {
            min-height: 692px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 0;
            overflow: hidden;
        }
        .flex-flex {
            display: flex;
        }
        .align-center {
            align-items: center; 
        }
        .center-center {
            align-items: center;
            justify-content: center;
        }
        .box-root {
            box-sizing: border-box;
        }
        .flex-direction--column {
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .loginbackground-gridContainer {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
            grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
            -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
            grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
            justify-content: center;
            margin: 0 -2%;
            transform: rotate(-12deg) skew(-12deg);
        }
        .box-divider--light-all-2 {
            box-shadow: inset 0 0 0 2px #e3e8ee;
        }
        .box-background--blue {
            background-color: #CC042C;
        }
        .box-background--white {
            background-color: #ffffff; 
        }
        .box-background--blue800 {
            background-color: #4C545C;
        }
        .box-background--gray100 {
            background-color: #e3e8ee;
        }
        .box-background--cyan200 {
            background-color: #232B33;
        }
        .padding-top--64 {
            padding-top: 64px;
        }
        .padding-top--24 {
            padding-top: 24px;
        }
        .padding-top--48 {
            padding-top: 48px;
        }
        .padding-bottom--24 {
            padding-bottom: 24px;
        }
        .padding-horizontal--48 {
            padding: 48px;
        }
        .padding-bottom--15 {
            padding-bottom: 15px;
        }
        .flex-justifyContent--center {
            -ms-flex-pack: center;
            justify-content: center;
        }
        .formbg {
            margin: 0px auto;
            width: 100%;
            max-width: 448px;
            background: white;
            border-radius: 4px;
            box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
        }
        span {
            display: block;
            font-size: 20px;
            line-height: 28px;
            color: #232B33;
        }
        label {
            margin-bottom: 10px;
        }
        .reset-pass a, label {
            font-size: 14px;
            font-weight: 600;
            display: block;
        }
        .reset-pass > a {
            text-align: right;
            margin-bottom: 10px;
        }
        .grid--50-50 {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
        }
        .field input,
        .field select,
        .field textarea {
            font-size: 16px;
            line-height: 28px;
            padding: 8px 16px;
            width: 100%;
            min-height: 44px;
            border: unset;
            border-radius: 4px;
            outline-color: rgb(84 105 212 / 0.5);
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
        }
        input[type="submit"] {
            background-color: #CC042C;
            box-shadow: #4C545C 0px 0px 0px 1px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 4px;
            border: none;
        }
        .field-checkbox input {
            width: 20px;
            height: 15px;
            margin-right: 5px; 
            box-shadow: unset;
            min-height: unset;
        }
        .field-checkbox label {
            display: flex;
            align-items: center;
            margin: 0;
        }
        a.ssolink {
            display: block;
            text-align: center;
            font-weight: 600;
        }
        .footer-link span {
            font-size: 14px;
            text-align: center;
        }
        .listing a {
            color: #232B33;
            font-weight: 600;
            margin: 0 10px;
        }
        .animationRightLeft {
            animation: animationRightLeft 2s ease-in-out infinite;
        }
        .animationLeftRight {
            animation: animationLeftRight 2s ease-in-out infinite;
        }
        .tans3s {
            animation: animationLeftRight 3s ease-in-out infinite;
        }
        .tans4s {
            animation: animationLeftRight 4s ease-in-out infinite;
        }
        @@keyframes animationLeftRight {
            0% {
                transform: translateX(0px);
            }
            50% {
                transform: translateX(1000px);
            }
            100% {
                transform: translateX(0px);
            }
        }
        @@keyframes animationRightLeft {
            0% {
                transform: translateX(0px);
            }
            50% {
                transform: translateX(-1000px);
            }
            100% {
                transform: translateX(0px);
            }
        } 
    </style>
</head>
<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground">
                <div class="loginbackground-gridContainer">
                    <div class="box-root flex-flex" style="grid-area: 6 / 2 / auto / 5;">
                        <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 8 / start / auto / 2;">
                        <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 9 / start / auto / 4;">
                        <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 10 / 4 / auto / 6;">
                        <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 5 / 15 / auto / end;">
                        <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 6 / 14 / auto / end;">
                        <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 7 / 17 / auto / 20;">
                        <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                    </div>
                    <div class="box-root flex-flex" style="grid-area: 8 / 14 / auto / 17;">
                        <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <h1 class="padding-bottom--15">Sipariþ Oluþtur</h1>
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div class="field">
                                    <label asp-for="Name" class="control-label">Ürün Adý</label>
                                    <input asp-for="Name" class="form-control" type="text" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="TypeId" class="control-label">Ürün Tipi</label>
                                    <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                                    <span asp-validation-for="TypeId" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="UnitOfMeasureId" class="control-label">Ölçü-Birim</label>
                                    <select asp-for="UnitOfMeasureId" class="form-control" asp-items="ViewBag.UnitOfMeasureId"></select>
                                    <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="Quantity" class="control-label">Adet</label>
                                    <input asp-for="Quantity" class="form-control" type="text" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="ImagePath" class="control-label">Görsel Yükleyin</label>
                                    <input asp-for="ImagePath" class="form-control" type="file" />
                                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                                </div>
                                <div class="field">
                                    <label asp-for="Notes" class="control-label">Ekstra Notlar</label>
                                    <textarea asp-for="Notes" class="form-control"></textarea>
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                                <div class="field padding-bottom--24">
                                    <input type="submit" value="Oluþtur" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
                    <span><a asp-action="Index">Sipariþler Sayfasýna Dön</a></span>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
