@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Bu uygulamanın şu anda kayıtlı gerçek bir e-posta göndereni yok.
            Normalde bu adrese e-postayla gönderilecekti: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı onaylamak için burayı tıklayın</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

